---
import Layout from "@layouts/Layout.astro";
import SocialLinks from "@components/SocialLinks.astro";
import Card from "@components/Card.astro";
import ValueCard from "@components/values/ValueCard.astro";
import UseCaseCard from "@components/useCases/useCaseCard.astro";

import { locales, defaultLocale } from "@locales/config";
import { getTranslation } from "@utils/translation";

export async function getStaticPaths() {
	// Génère les routes pour chaque langue + la route racine
	return [
		{ params: { lang: undefined } }, // Route racine: /
		...locales.map((lang) => ({
			params: { lang }, // Routes: /fr/, /en/, etc.
		})),
	];
}

const { lang } = Astro.params;
const content = getTranslation(lang || defaultLocale);
---

<Layout
	pageTitle={content.meta.pageTitle}
	class="flex flex-col max-w-3xl mx-auto p-6 gap-2"
	lang={lang || defaultLocale}
	description={content.meta.description}
>
	<Card padding="2" class="gap-4">
		<div class="flex flex-col px-2">
		<h1 class="body text-2xl dark:text-slate-100 transition-all font-bold">
			{content.hero.name}
		</h1>
		<p class="text-xl font-medium text-slate-500 dark:text-slate-400 transition-all">
			{content.hero.role}
		</p>
		<p class="text-slate-500 dark:text-slate-400 transition-all">
			{content.hero.location}
		</p>
		</div>
		<h2 id="values-title" class="sr-only">{content.hero.values.title}</h2>
		<section class="flex flex-row w-full overflow-y-scroll row-2 gap-2">
			<ValueCard label="Focus" icon="focus" />
			<ValueCard label="Collaboration" icon="collaboration" />
			<ValueCard label="Tangible" icon="tangible" />
		</section>
	</Card>

	<Card class="flex-row gap-2" padding="2">
		{
			content.socialLinks.map((link) => (
				<SocialLinks
					href={link.href}
					label={link.label}
					color={link.color}
					icon={link.icon}
				/>
			))
		}
	</Card>

	<Card style="accent" class="items-center p-8 gap-4">
		<h2
			class="text-center content-center flex-auto text-xl font-bold dark:text-slate-50 transition-all"
		>
			{content.contact.title}
		</h2>
		<p
			class="paragraph text-center content-center flex-auto text-lg font-light text-gray-800 dark:text-gray-400 transition-all"
		>
			{content.contact.description}
		</p>
		<a
			target="_blank"
			rel="noopener noreferrer"
			href={content.contact.button.url}
			class="bg-blue-500 p-4 mt-2 px-6 font-medium tracking-wide text-gray-50 dark:bg-blue-300 dark:text-gray-900 hover:bg-blue-600 dark:hover:bg-blue-200 transition-all duration-[0.5s] ease-out rounded-full select-none"
			data-umami-event="click"
			data-umami-event-id="Calendly"
			data-umami-event-type="button"
		>
			{content.contact.button.text}</a
		>
	</Card>
</Layout>
