---
const { content } = Astro.props;
import { Image } from 'astro:assets';
import InfoColumn from '@components/projects/InfoColumn.astro';
import Mosaic from '@components/projects/Mosaic.astro';

// Load Images
import earth from '@assets/unistellar/earth.png';
import screenHome from '@assets/unistellar/screen-unistellar-home.png';
---

<section class="relative bg-gray-900 overflow-hidden h-screen max-h-[720px]">
  <div
    class="absolute bottom-0 w-full h-full bg-gradient-to-t from-[#8BB0F9] from-0% via-transparent via-50% to-transparent to-100% fade-in animation-duration-2 animation-delay-2 opacity-0"
  >
  </div>
  <h1
    class="text-[10vw] font-avara w-full text-center pt-40 text-gray-50 fade-in animation-duration-2 opacity-0"
  >
    {content.hero.title}
  </h1>
  <Image
    src={earth}
    alt={content.hero.earthAlt}
    class="absolute bottom-0 translate-y-2/4 fade-in animation-duration-2 animation-delay-4 opacity-0"
    priority
  />
  <Image
    src={screenHome}
    alt={content.hero.screenHomeAlt}
    class="absolute bottom-[-300px] left-1/2 translate-x-[-50%] w-xs fade-in animation-duration-3 animation-delay-6 opacity-0"
    priority
  />
</section>
<section class="px-8 py-16 h-screen max-h-[720px]">
  <h2 class="font-avara paragraph text-4xl max-w-3xl p-4 dark:text-gray-50">
    {content.contexte}
  </h2>
  <div class="flex flex-row">
    <InfoColumn title={content.roles.title} items={content.roles.items} />
    <InfoColumn title={content.skills.title} items={content.skills.items}/>
  </div>
</section>
<Mosaic/>
