---
// Liste des langues disponibles
const languages = [
  { code: 'fr', name: 'Français' },
  { code: 'en', name: 'English' },
];

// Récupère la langue actuelle depuis l'URL
const currentLang = Astro.params.lang || 'fr';

const wrapper = "group relative bg-gray-100 border border-gray-200 h-auto w-[6rem] dark:bg-gray-700 dark:border-gray-600 overflow-hidden"

const action = {
  base: "absolute left-0 w-full p-1.5 text-md font-medium justify-center text-center transition-all duration-300",
  enabled: "bg-blue-500 text-white hover:bg-blue-600 z-1 translate-y-full group-hover:translate-y-0",
  actived: "text-gray-800 hover:bg-gray-300 dark:text-gray-200 dark:hover:bg-gray-600",
};

---

<div class={wrapper}>
   {languages.map((lang) => (
    currentLang === lang.code ? <a
      href={`/${lang.code}/`}
      class={`${action.base} ${action.actived}`}
      aria-label={`Switch to ${lang.name}`}
    >
      {lang.name}
    </a> : <a
      href={`/${lang.code}/`}
      class={`${action.base} ${action.enabled}`}
      aria-label={`Switch to ${lang.name}`}
    >
      {lang.name}
    </a>

  ))}
</div>
