---
import Layout from '@layouts/Layout.astro';
import SocialLinks from '@components/SocialLinks.astro';
import ContactMe from '@components/home/ContactMe.astro'
import Card from '@components/Card.astro';
import ValueCard from '@components/values/ValueCard.astro';
import Action from "@components/Action.astro"
import CoverUnistellar from "@components/project/CoverUnistellar.astro"

import { getTranslation} from '@utils/handleLocales';

import { locales } from '@locales/config.json';


const { lang } = Astro.params;

export function getStaticPaths() {
  const path = locales.map((loc) => {
    return { params: { lang: loc } };
  });

  return path;
}

const content = getTranslation(lang)


---

<Layout
  pageTitle={content.meta.pageTitle}
  class="grid grid-cols-12 max-w-7xl mx-auto p-6 pt-24 gap-2"
  lang={lang}
  description={content.meta.description}
>
  <div class="flex flex-col gap-2 col-span-full sm:col-span-6 md:col-span-4">
    <Card padding="2" class="gap-4">
      <div class="flex flex-col px-2">
        <h1 class="body text-2xl dark:text-slate-100 transition-all font-bold">
          {content.hero.name}
        </h1>
        <p
          class="text-xl font-medium text-slate-500 dark:text-slate-400 transition-all"
        >
          {content.hero.role}
        </p>
        <p class="text-slate-500 dark:text-slate-400 transition-all">
          {content.hero.location}
        </p>
      </div>
      <!-- <h2 id="values-title" class="sr-only">{content.hero.values.title}</h2> -->
      <!-- <section class="flex flex-row w-full row-2 gap-2 overflow-scroll">
        <ValueCard label="Focus" icon="focus" />
        <ValueCard label="Collaboration" icon="collaboration" />
        <ValueCard label="Tangible" icon="tangible" />
      </section> -->
    </Card>

    <Card class="flex-row gap-2" padding="2">
      {
        content.socialLinks.map((link) => (
          <SocialLinks
            href={link.href}
            label={link.label}
            color={link.color}
            icon={link.icon}
          />
        ))
      }
    </Card>
  </div>

  <div class="flex flex-row flex-wrap gap-2 col-span-full sm:col-span-6 md:col-span-8">
    <CoverUnistellar/>
    <ContactMe content={content}/>
  </div>
</Layout>
